
.navibar {
    background-color:black;
    border: solid black 2px;
    margin:0px;
    padding:0px;
    position:fixed;
}

li {
    float: left;
}

.navlist {
    list-style-type:none;
    font-family:Arial, sans-serif;
    text-align:center;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.navlink {
    display:block;
    text-align:center;
    padding:10px;
    margin:0px;
    text-decoration:none;
    color:white;
    background-color:darkturquoise;
}
.navlink:hover {
    background-color: rgb(21, 156, 158);
}

.dropdown {
    display:none;
    color:black;
}

.navlink:hover .dropdown {
    display:block;
}